h1 {
  color: white;
  font-size: 3vw;
  background-color: transparent;
}

p {
  color: white;
  margin: 1vw 0 1vw 0;
  font-size: 3vw;
  background-color: transparent;
}

ul {
  width: 100%;
  margin: 0;
  padding: 0;
}

li {
  aspect-ratio: auto;
}

li:nth-child(even) {
  background-color: rgb(206, 70, 121);
}

div {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  background-color: transparent;
}
